<!--
Creat per: Sergey Musyus
Funció: Pàgina amb 3 condicionals, en funció del rol del usuari mostrarem el menú que correspongui
 -->
<template name="menu">
<!-- Side Administrador -->
{{#if isInRole 'admin'}}
<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="list-group">
            <a href="#" class="list-group-item active">Menú Admin</a>
            <a href="#" class="list-group-item">Alta Usuaris</a>
            <a href="#" class="list-group-item">Llistar Usuaris</a>
          </div>
        </div>
    </div>
</div>
{{/if}}

{{#if isInRole 'professor'}}
<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="list-group">
            <a href="#" class="list-group-item active">Menú Profe</a>
            <a href="" class="list-group-item">Alta Alumnes</a>
            <a href="{{pathFor 'temes'}}" class="list-group-item">Llistat Alumnes</a>
            <a href="#" class="list-group-item">Temes</a>
            <a href="#" class="list-group-item">Gestió Grup</a>
          </div>
        </div>
    </div>
</div>
{{/if}}
{{#if isInRole 'alumne'}}
<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="list-group">
            <a href="#" class="list-group-item active">Menú Alumne</a>
            <a href="#" class="list-group-item">Activitats no avaluables</a>
            <a href="#" class="list-group-item">Temes</a>
            <a href="#" class="list-group-item">Gestó</a>
            <a href="#" class="list-group-item">Exàmen</a>
          </div>
        </div>
    </div>
</div>
{{/if}}


</template>
