body{
	background-color: #424242;
.btn {
    padding: 40px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
.btn-lg.round {
    border-radius: 24px;
}

.btn.sharp {
  border-radius:0;
}

// outline buttons //
.btn.outline {
    background: none;
    padding: 12px 22px;
}
// outline border thinnckness and color //
.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}
//hover functions //
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}
background-color: 

#aplicar {
    padding: 15px;
}
