.btn-group-1{
	margin-top: 30px;
	position: absolute;
}
.btn-group-2{
	margin-top: 120px;
	position: absolute;
	margin-left: 20px;
}
.btn-group-3{
	margin-top: 210px;
	position: absolute;
	margin-left: 20px;
}
.btn1{
  width:59px;
  height:59px;
  cursor:pointer;
  border-radius: 12px;
}

/**************** slider 1 ****************/

.slider{
	
	height: 50px;
	position: relative;
	width: 70%;
}

.slider > .emptyprogress{
	background: #97d9fb;
	border: 3px solid white;
	cursor: pointer;
	border-radius: 10px;
	height: 40%;
	top:25%;
	position: absolute;
	width: 100%;

	-webkit-box-shadow: 1px 1px 3px 0px #ccc;
	box-shadow: 1px 1px 3px 0px #ccc;
}

.slider > .progress{
	background: #14aaf6;
	border: 3px solid white;
	cursor: pointer;
	border-radius: 10px;
	height: 40%;
	top:25%;
	position: absolute;
	width: 0%;

	-webkit-box-shadow: 1px 1px 3px 0px #ccc;
	box-shadow: 1px 1px 3px 0px #ccc;
}

.slider > .indicator{
	background: url('../img/pointer.png') no-repeat;
	/*border: 1px solid red;*/
	cursor: move;
	height: 100%;
	margin: 4px auto auto -50px;
	left: 0%;
	position: absolute;
	width:60px;
}

.info, .info> label > input{
	font-family: 'Julius Sans One', sans-serif;
	color: grey;
}

.info{
	font-size: 16px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
	width: auto;
}

.info> label > input{
	border: none;
	font-size: 16px;
	margin-bottom: 5px;
	width: 250px;
}

/********************** slider 2 **********************/

.slider2{
	
	height: 50px;
	position: relative;
	width: 70%;
}

.slider2 > .emptyprogress2{
	background: #97d9fb;
	border: 3px solid white;
	cursor: pointer;
	border-radius: 10px;
	height: 40%;
	top:25%;
	position: absolute;
	width: 100%;
	
	-webkit-box-shadow: 1px 1px 3px 0px #ccc;
	box-shadow: 1px 1px 3px 0px #ccc;
}

.slider2 > .progress2{
	background: #14aaf6;
	border: 3px solid white;
	cursor: pointer;
	border-radius: 10px;
	height: 40%;
	top:25%;
	position: absolute;
	width: 0%;

	-webkit-box-shadow: 1px 1px 3px 0px #ccc;
	box-shadow: 1px 1px 3px 0px #ccc;
}

.slider2 > .indicator2{
	background: url('../img/pointer.png') no-repeat;
	/*border: 1px solid red;*/
	cursor: move;
	height: 100%;
	margin: 8px auto auto -50px;
	left: 0%;
	position: absolute;
	width:60px;
}

.info2, .info2> label > input{
	font-family: 'Julius Sans One', sans-serif;
	color: grey;
}

.info2{
	font-size: 16px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
	width: auto;
}

.info2> label > input{
	border: none;
	font-size: 16px;
	width: 250px;
}

/********************************* slider 3 **********************************/

.slider3{
	
	height: 50px;
	position: relative;
	width: 70%;
}

.slider3 > .emptyprogress3{
	background: #97d9fb;
	border: 3px solid white;
	cursor: pointer;
	border-radius: 10px;
	height: 40%;
	top:25%;
	position: absolute;
	width: 100%;
	
	-webkit-box-shadow: 1px 1px 3px 0px #ccc;
	box-shadow: 1px 1px 3px 0px #ccc;
}

.slider3 > .progress3{
	background: #14aaf6;
	border: 3px solid white;
	cursor: pointer;
	border-radius: 10px;
	height: 40%;
	top:25%;
	position: absolute;
	width: 0%;

	-webkit-box-shadow: 1px 1px 3px 0px #ccc;
	box-shadow: 1px 1px 3px 0px #ccc;
}

.slider3 > .indicator3{
	background: url('../img/pointer.png') no-repeat;
	/*border: 1px solid red;*/
	cursor: move;
	height: 100%;
	margin: 8px auto auto -50px;
	left: 0%;
	position: absolute;
	width:60px;
}

.info3, .info3> label > input{
	font-family: 'Julius Sans One', sans-serif;
	color: grey;
}

.info3{
	font-size: 16px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
	width: auto;
}

.info3> label > input{
	border: none;
	font-size: 16px;
	width: 250px;
}



/************************************ slider 4 **************************/

.slider4{
	
	height: 50px;
	position: relative;
	width: 70%;
}

.slider4 > .emptyprogress4{
	background: #97d9fb;
	border: 3px solid white;
	cursor: pointer;
	border-radius: 10px;
	height: 40%;
	top:25%;
	position: absolute;
	width: 100%;
	
	-webkit-box-shadow: 1px 1px 3px 0px #ccc;
	box-shadow: 1px 1px 3px 0px #ccc;
}

.slider4 > .progress4{
	background: #14aaf6;
	border: 3px solid white;
	cursor: pointer;
	border-radius: 10px;
	height: 40%;
	top:25%;
	position: absolute;
	width: 0%;

	-webkit-box-shadow: 1px 1px 3px 0px #ccc;
	box-shadow: 1px 1px 3px 0px #ccc;
}

.slider4 > .indicator4{
	background: url('../img/pointer.png') no-repeat;
	/*border: 1px solid red;*/
	cursor: move;
	height: 100%;
	margin: 8px auto auto -50px;
	left: 0%;
	position: absolute;
	width:60px;
}

.info4, .info4> label > input{
	font-family: 'Julius Sans One', sans-serif;
	color: grey;
}

.info4{
	font-size: 16px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
	width: auto;
}

.info4> label > input{
	border: none;
	font-size: 16px;
	width: 250px;
}
